site_name: Frank's Blog
site_url: https://Frank-whw.github.io
site_description: Frank的个人网站
site_author: Frank
repo_name: Frank's Blog
repo_url: https://github.com/Frank-whw/Frank-whw.github.io
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2024 - Present <a href="https://github.com/Frank-whw/" target="_blank" rel="noopener">Frank</a>

theme:
  name: material
  language: en
  custom_dir: overrides
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - header.autohide
    - navigation.footer
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - navigation.footer
    - navigation.indexes
  font: false
  palette:
    - scheme: default

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4
  - meta
  - def_list
  - attr_list
  - md_in_html
  - sane_lists
  - admonition
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.arithmatex:
      generic: true

validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: info
  links:
    not_found: ignore
    absolute_links: ignore
    unrecognized_links: ignore

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Frank-whw
      name: GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com
      name: Twitter
    - icon: fontawesome/brands/weixin
      link: https://raw.githubusercontent.com/Frank-whw/img/main/blog/202411201029901.png
      name: WeChat

  analytics:
    provider: google
    property: G-ZHVPSRWZP3

extra_css:
  - https://cdn.tonycrane.cc/utils/katex.min.css
  - https://cdn.tonycrane.cc/jbmono/jetbrainsmono.css
  - https://cdn.tonycrane.cc/lxgw/lxgwscreen.css
  - css/tasklist.css
  - css/custom.css
  - css/card.css
  - css/flink.css
  - css/changelog_extra.css
  - css/toc_extra.css
  - css/svg_extra.css

extra_javascript:
  - https://cdn.tonycrane.cc/utils/katex.min.js
  - js/katex.js

plugins:
  - rss:
      enabled: !ENV [FULL, false]
  - search
  - glightbox:
      width: 80%
  - git-revision-date-localized:
      enabled: !ENV [FULL, false]
      type: datetime
      timezone: Asia/Shanghai
      locale: zh
      enable_creation_date: true
      enable_git_follow: true
      ignored_commits_file: .ignored-commits
      exclude:
        - index.md
        - academy.md
        - links.md
        - changelog.md
  - minify:
      minify_html: true
  - mkdocs-video:
      video_muted: True
      video_controls: True
      mark: "video"
  - statistics:
      page_check_metadata: comment
  - heti:
      enabled: !ENV [FULL, false]
      disable_serve: false

hooks:
  - hooks/theme_override.py
  - hooks/linkbackward.py
  - hooks/toc.py
  - hooks/tikzautomata.py

not_in_nav: todo.md

nav:
  - Home: 
    - index.md
    # - 更新记录(todo): changelog.md
  - Computer Science: 
    - cs_base/index.md
    - language:
      - Java:
        - cs_base/language/java/index.md
      - C: cs_base/language/c.md
      - SQL: cs_base/language/SQL.md
      - Java加强: cs_base/language/Java加强.md
      - TypeScript: cs_base/language/TypeScript.md
    - database:
      - 1. 文档数据库: cs_base/database/1. 文档数据库.md
      - 2. B树索引: cs_base/database/2. B树索引.md
      - 3. 文档数据库设计: cs_base/database/3. 文档数据库设计.md
      - 4. 关系数据库: cs_base/database/4. 关系数据库.md
      - 5. SQL: cs_base/database/5. SQL.md
      - 5-2. SQL: cs_base/database/5-2. SQL.md
    - cs61c:
      - Lab:
        - Lab01: cs_base/cs61c/Lab/Lab01.md
        - Lab02: cs_base/cs61c/Lab/Lab02.md
      - Lecture:
        - Lecture07: cs_base/cs61c/Lecture/lecture07.md
        - Lecture08: cs_base/cs61c/Lecture/lecture08.md
        - Lecture09: cs_base/cs61c/Lecture/lecture09.md
        - Lecture10: cs_base/cs61c/Lecture/lecture10.md
      - Proj:
        - proj01: cs_base/cs61c/proj/proj01.md
    - cs61b:
      - cs61b: cs_base/cs61b/cs61b.md
      - gitlet: cs_base/cs61b/gitlet之我见.md
    - csapp:
      - Lab:
        - DataLab: cs_base/csapp/Lab/DataLab.md
        - BombLab: cs_base/csapp/Lab/BombLab.md
      - Lecture:
        - 01: cs_base/csapp/lecture/01.md
        - 02: cs_base/csapp/lecture/02.md
        - 03: cs_base/csapp/lecture/03.md
        - 04: cs_base/csapp/lecture/04.md
        - 05: cs_base/csapp/lecture/05.md
  - Tools:
    - Tools/index.md
    - AWS连接: Tools/AWS连接.md
  - Others:
    - Others/index.md
    - AI: Others/AI/index.md
    - BlockChain: Others/BlockChain/index.md
  - Note:
    - Note/index.md
    - 考试:
      - 实验报告: Note/考试/实验报告.md
    - 思考:
      - 心得体会: Note/思考/心得体会.md
      - 认知觉醒: Note/思考/认知觉醒.md
  - Links: Links/index.md