mkdocs>=1.5.3
mkdocs-material>=9.4.6
mkdocs-blogging-plugin
mkdocs-callouts
mkdocs-changelog-plugin
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-video
mkdocs-material-extensions>=1.3
rich # for mkdocs-toc-plugin
babel>=2.10.3
pygments>=2.16.1
pymdown-extensions>=10.2.1
