
mkdocs>=1.5.0
mkdocs-material>=9.0.0
mkdocs-material-extensions
mkdocs-blogging-plugin
mkdocs-callouts
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-video
rich # for mkdocs-toc-plugin
mkdocs-changelog-plugin
pymdown-extensions
# Note: mkdocs-git-revision-date-localized-plugin 
# and mkdocs-statistics-plugin are installed from mkdocs-toolchain
